.field {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(2 74 42)
}

.fieldTitle {
    font-weight: 500;
    color: rgb(248, 234, 234);
}

.fieldValue {
    color: rgb(69 175 188);
    margin-left: 5px;
}